.banners {
    display: flex;

  }
  
  .banner {
    width: 500px;
    margin-right: 2%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-left: 2%;
  }
  
    
  .banner-content {
    padding: 20px;
  }
  
  .contratar-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .contratar-button:hover {
    background-color: darkred;
  }

  .banner-image{
    width: 60%;
    height: 50%;
  }